<div class="container">
	<h3>Ventas</h3>

	<div class="container grid">
		<div class="row grid-header">
			<div class="col-sm-4">Name</div>
		</div>
		<div class="row" ng-repeat="venta in ventas">
			<div class="col-sm-4" ng-bind="venta.ID_Venta"></div>
			<div class="col-sm-4">
				<a href="" ng-click="edit(pet)">Edit</a>
				<a href="javascript:void(0)" ng-click="remove(pet)">Delete</a>
			</div>
		</div>
	</div>
	
	<a ui-sref="newPet" class="btn btn-primary pull-right" type="button" role="button">Agregar</a>
</div>